@model {0}
@{{
    ViewBag.Title = {5}.{6}.CreateEditPage;
}}
<div class="post_text">
    <h2 class="post_title">@*@ViewBag.Title*@</h2>
    @using (Ajax.BeginForm("{1}",new {{ }}, new AjaxOptions()
{{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "SubmitResult",
    HttpMethod = "POST",
    LoadingElementId = "LoadingGifCE"
}}))
{{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)    
        <fieldset>
            <legend>@{5}.{6}.CreatePage</legend>
            <div class="" id="SubmitResult">
            </div>
            <div class="">
                <table>
    {4}			    <tr>
                        <td colspan="3">
                            <div class="">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="button">
                                                <input type="submit" value="@({5}.{6}.Submit)" id="submit" class="submit" />                                                
                                            </div>
                                            {7}
                                        </td>
                                        <td>
                                            <div class="button">
                                                <input type="reset" value="@({5}.{6}.Reset)"  id="reset" class="reset"/>
                                            </div>
                                        </td>
                                        <td>
                                            <div id="LoadingGifCE" style="display: none">
                                                <img src="@Url.Content("~/Images/ajax-loader/loading1.gif")" alt=""/>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
}}
   <script>
       $(function () {{           
               makeButtons();
        }});
    </script>
</div>
